body{background-color:#FFE4B5;color:#000080}
h1 {text-align:center}
img[alt="ember"]{border:1px solid black;display:block;margin:0 auto}
img[alt="rajz"]{display:block;margin:0 auto}
table#neander_table{width:700px;margin:0 auto;}